{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% unless post.collection == 'portfolio' and include.type == 'grid' %}
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% elsif teaser contains "/files/" or teaser contains "/images/" %}
                "{{ base_path }}{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="">
          </a>
        </div>
      {% endif %}
    {% endunless %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.collection == 'portfolio' %}
        {% if include.type == 'grid' and post.short_title %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.short_title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection != 'portfolio' and post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.collection == 'portfolio' and include.type == 'grid' %}
      {% if post.description %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.description | markdownify }}</p>
      {% elsif post.excerpt %}
        {% assign excerpt_text = post.excerpt | markdownify | strip_html | strip %}
        {% assign first_sentence = excerpt_text | split: '.' | first %}
        <p class="archive__item-excerpt" itemprop="description">{{ first_sentence }}.</p>
      {% endif %}
      
      {% if teaser %}
        <div class="archive__item-teaser">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% elsif teaser contains "/files/" or teaser contains "/images/" %}
                "{{ base_path }}{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="">
          </a>
        </div>
      {% endif %}

      {% if post.link or post.paperurl or post.codeurl or post.github or post.videourl %}
        <div class="portfolio__links" style="margin-top: 0.75em;">
          {% if post.link %}
            <a href="{{ post.link }}" target="_blank" class="btn btn--project">
              <i class="fas fa-external-link-alt" aria-hidden="true"></i> Project page
            </a>
          {% endif %}
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank" class="btn btn--paper">
              <i class="fas fa-file-pdf" aria-hidden="true"></i> Paper
            </a>
          {% endif %}
          {% if post.codeurl %}
            <a href="{{ post.codeurl }}" target="_blank" class="btn btn--code">
              <i class="fab fa-github" aria-hidden="true"></i> Code
            </a>
          {% elsif post.github %}
            <a href="https://github.com/{{ post.github }}" target="_blank" class="btn btn--code">
              <i class="fab fa-github" aria-hidden="true"></i> Code
            </a>
          {% endif %}
          {% if post.videourl %}
            <a href="{{ post.videourl }}" target="_blank" class="btn btn--code">
              <i class="fab fa-youtube" aria-hidden="true"></i> Video
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% elsif post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.collection == 'portfolio' and post.skills %}
    <div class="portfolio__skills">
      {% for skill in post.skills %}
        <span class="portfolio__skill">{{ skill }}</span>
      {% endfor %}
    </div>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}">{{ post.paperurl }}</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl and post.collection != 'portfolio' %}
      <p class="wordwrap">Download <a href=" {{ post.paperurl }} ">here</a></p>
    {% endif %}

  </article>
</div>
