{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive__item-header">
      <h2 class="archive__item-title" itemprop="headline">
        {{ title }}
      </h2>
      
      <div class="publication__links">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" target="_blank" class="btn btn--paper">
            <i class="fas fa-file-pdf" aria-hidden="true"></i> Paper
          </a>
        {% endif %}
        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" target="_blank" class="btn btn--code">
            <i class="fab fa-github" aria-hidden="true"></i> Code
          </a>
        {% elsif post.github %}
          <a href="https://github.com/{{ post.github }}" target="_blank" class="btn btn--code">
            <i class="fab fa-github" aria-hidden="true"></i> Code
          </a>
        {% endif %}
      </div>
    </div>
    
    <p class="archive__item-meta">
      {% if post.venue %}
        <i>{{ post.venue }}</i>
        {% if post.date %}
          , {{ post.date | date: "%Y" }}
        {% endif %}
      {% elsif post.date %}
        {{ post.date | date: "%Y" }}
      {% endif %}
    </p>
  </article>
</div>
